*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background: linear-gradient(#cb1d62,#532580d1);
    background-size: 100% 50%;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    position: relative;
}
#player1 p{
    text-align: center;
    font-size: 40px;
    color: #c21057;
    /* margin-top: 20px; */
}
#player2 p{
    text-align: center;
    font-size: 40px;
    color: rgb(87, 83, 83);
}
#player1 h2{
    color: #c21057;

}
#player2 h2{
    color: rgb(87, 83, 83);

}
#player1{
    background-color: rgb(58, 56, 56);
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#player2{
    background-color: #e4e7e9; 
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
#dice1{
    position: absolute;
    left: 48%;
    top: 30%;
}
#dice2{
    position: absolute;
    left: 48%;
    top: 50%;
}
#btn_roll{
    position: absolute;
    left: 46%;
    top: 73%;
    padding: 5px;
    border-radius: 50px;
    opacity: 60%;
    width: 120px;
}
#btn_newGame{
    position: absolute;
    left: 46%;
    top: 10%;
    padding: 5px;
    border-radius: 50px;
    opacity: 60%;
    width: 120px;
}
#btn_hold{
    position: absolute;
    left: 47%;
    top: 85%;
    padding: 5px;
    border-radius: 50px;
    opacity: 60%;
    width: 90px;

}
#player1_score{
    width: 150px;
    height: 100px;
    border: 1px solid #c21057;
    color: white;
    background-color: #c21057;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
}
#player2_score{
    width: 150px;
    height: 100px;
    border: 1px solid #c21057;
    color: white;
    background-color: #c21057;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 40px;
}
#player1_score p{
    color: white;
}
#player2_score p{
    color: white;
}
button:hover {
    opacity: 70%;
    cursor: pointer;
}
